<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1.0KCV函数调用的基本实现.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Swift学习Demo集合.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>203E9E881E8AA1F600613F78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>203E9E9C1E8AA1F700613F78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>203E9EA71E8AA1F700613F78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>203E9EBD1E8AA21E00613F78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>203E9ED01E8AA21E00613F78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>203E9EDB1E8AA21E00613F78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
